@using BlazorApp1.Data;
<tr>
	<td>
		<div>
			@pokemon.Id
		</div>
	</td>
    <td>
        <div>
            @pokemon.Name[0].ToString().ToUpper()

        </div>
    </td>
	<td>
		<div>
            @pokemon

        </div>
    </td>
    <td>
        <div>
            @if (pokemon.Types != null && pokemon.Types.Count > 0)
            {
                var formattedTypes = string.Join(", ", pokemon.Types.Select(t => char.ToUpper(t.Name[0]) + t.Name.Substring(1)));

                <span>@formattedTypes</span> <!-- Display the formatted types -->
            }
            else
            {
                <span>No types available</span> <!-- In case there are no types -->
            }
        </div>
	</td>
</tr>

@code {
	[Parameter]
	public Pokemon pokemon { get; set; }
}
